<div class="formDiv">
  <form [formGroup]="creditCardForm" (ngSubmit)="onSubmit()">
    <div class="nameInput">
      <app-input formControlName="name"></app-input>
      <mat-error *ngIf="name.invalid&&(name.dirty||name.touched)">Name is required</mat-error>
      <ng-container *ngIf="errorName">
        <mat-error>
          Girdiğiniz isim {{errorName?.['actualLength']}} karakter içeriyor.
          Minimum {{errorName?.['requiredLength']}} karakter olmalı.
        </mat-error>
      </ng-container>
    </div>
    <div class="cardNumberInput">
     <app-number-input [label]="'Card Number'" formControlName="cardNumber"></app-number-input>
     <mat-error *ngIf="cardNumber.invalid&&(cardNumber.dirty||cardNumber.touched)">Card Number is required</mat-error>
    </div>
    <div class="cvvExper">
      <div>
        <app-number-input [label]="'Expiration Date'" formControlName="expirationDate"></app-number-input>
        <mat-error *ngIf="expirationDate.invalid&&(expirationDate.dirty||expirationDate.touched)">Expiration Date is required</mat-error>
      </div>
      <div>
        <app-number-input [label]="'Cvv'" formControlName="cvv"></app-number-input>
        <mat-error *ngIf="cvv.invalid&&(cvv.dirty||cvv.touched)">Cvv is required</mat-error>
      </div>
    </div>
    <div class="buttons">
      <button type="button" mat-raised-button color="warn">Rest Form</button>
      <button type="submit" mat-raised-button color="primary" (click)="onReset()">Save</button>
    </div>
  </form>
</div>
{{creditCardForm.value|json}}
